<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myshop"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".activities.activity.AddressListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".activities.activity.AddAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".activities.activity.CartListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".activities.activity.DetailProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".activities.activity.AddProductActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".activities.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".activities.activity.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".activities.activity.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".activities.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".activities.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".activities.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".activities.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>